 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Body Styles */
body {
    background: #f2f2f2;
}

/* Navigation Bar Styles */
nav {
    width: 100%;
    background-color: #0099cc;
    color: white;
    padding: 20px 40px; /* This move the logo and menu to the left and right */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 1000;
}

/* Logo Styles */
nav h1 {
    font-size: 35px;
    font-weight: bold;
}

/* Menu Styles */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

/* Menu Items Styles*/ 
nav ul li {
    position: relative;
}

/* Menu Item Links Styles*/
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

/* Menu Item Links Hover Styles*/
nav a:hover {
    color:  #1affff;
    border-radius: 4px;
}

/* Dropdown Menu Styles */
nav ul li ul {
    position: absolute;
    display: none;
    background: #0099cc;
    min-width: 150px;
    border-radius: 4px;
}

/* Dropdown Menu Display Styles */
nav ul li:hover ul {
    display: block;
}

/* Dropdown Menu Item Styles */
nav ul li ul li {
    width: 100%;
}

/* Dropdown Menu Item Link Hover Styles */
nav ul li ul li a:hover {
    background: #294f9a83;
}

/* ===== Page Content Styles ===== */

/* Header Styles */
.header {
   padding: 20px;
   margin: 20px;
   background: #ddd;
   text-align: center;
   font-size: 30px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

/* Row Styles */
.row {
    display: flex;
    padding: 20px;
    gap: 20px;
}

/* Left Column Styles */
.leftcolumn {   
    flex: 70%;  /* This makes the left column be equal to the right column */
}

/* Right Column Styles */
.rightcolumn {
    flex: 30%;
   
}

/* Image Styles */
.img1, .img2, .img3, .img4, .img5, .img6 {
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 6px; /* This is for the image corners */
    margin-bottom: 10px;
}

/* Example image (replace with image here) */
.img1 { background-image: url(../img/sports/snowboarding.jpg); }
.img2 { background-image: url(../img/videogames/sonic.jpg); }
.img3 { background-image: url(../img/sports/msmc.jpg); }
.img4 { background-image: url(../img/food/kfcchicken.jpg); }
.img5 { background-image: url(../img/food/bigmac.jpg); }
.img6 { background-image: url(../img/food/pizza.jpg); }

/* Card Styles */
.card {
    background-color: white;
    padding: 20px;      /* The space between the card and the text */
    margin-top: 20px;   /* The space between the card and the card above it */
    border-radius: 5px; /* This is for the card corners */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Card Title */
.card h2 {
    margin-bottom: 10px;
}

/* Card Subtitle: by author and date */
.card h5 {
    color: #524949;
    margin-bottom: 15px;
}

/* Card Paragraph */
.card p {
    line-height: 1.5;
}

/* Footer Styles */
.footer {
    background: #ddd;
    text-align: center;
    padding: 25px;
    margin-top: 19px;
}

/* Responsive Styles */
@media (max-width: 900px) {
    .row {
        flex-direction: column;
    }
    nav ul {
        flex-direction: row;
        gap: 10px;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
}
